html
  //- ヘッダ　ここから
  head 
    include include/header.pug  
    // script( src="/test.js" ) 
    title テスト
  //- ヘッダ　ここまで
  body
    h1.h1 LayerEditor

    include include/menues 

    div
      form( method="POST" action="/file-up" enctype="multipart/form-data" )
        input( type="file" name="image")
        button upload

    //- 最新情報    
    div.container.bg-light.border-info #{message}

    
    div.container.bg-light.border-info
      h2 Model
      form( method="POST" action="/" )
        button( onClick="alert(1);" ) Save
        button( onClick="" ) Load

      form( method="POST" action="/save-model" )
        button( onClick="return confirm('is reset?');" ) Save
      form( method="POST" action="/load-model" )
        input( type="file" )
        button(  ) Load
      form( method="POST" action="/reset" )
        button( onClick="return confirm('is reset?');" ) Reset

      //- INPUT
      div.container.bg-light.border-info
        h3 input
        p
          span Shape: #{inputs} <br>
          span Total: #{(inputs.reduce((carry,item)=>carry*item,1) )}
        form( method="POST" action="/" )
        
      //- input ここまで

      //- レイヤ一覧　ここから
      div.container.bg-light.border-info
        h3 layers

        ul.list-group
          each item in layers
            include include/layer.pug
          //- 末尾行
          li.list-group-item
            button.form-control.btn-primary 追加

        //- UL ここまで
      //-レイヤ一覧　ここまで

      //-ボタン
      div.container.bg-light.border-info
        h3 output
        p 出力
          span #{(model==null?"None":model.output.shape.reduce((carry,item)=>{carry+=("|"+item);return carry;},""))}


    //- レイヤ
    div.container.d-none
      h3 レイヤ追加
      form( method="POST" action="/layer-add" )
        //- ここにレイヤ一覧選択が入る
        button( ) レイヤ追加
    
    //- 変更
    div.container.d-none
      h3 レイヤ変更
      form( method="POST" action="/layer-modify" )
        button( ) レイヤ変更

    //- データ入力
    div.container.d-none
      h3 入力
      form( method="POST" action="/data-input" )
        button( ) 入力

