html
  head
    script( src="https://code.jquery.com/jquery-3.4.1.slim.min.js" crossorigin="anonymous" )
    script( src="/test.js" ) 
  body
    h1 test
    div あいうえおかきくけこ
    button( type="button" onClick="alert(1);" )
