//- Zの数だけループ
head
  link( rel="stylesheet" href="/tensor.css" )

body
  ul.list-group.inline(  )
    each i in tensor
      each j in i
        li.bit(  )
          //-span.j( style="font-size:5px;" ) #{j}
      br
