ul.inline,li.inline{
  display:inline-block;
}



li.bit{
  display:inline-block;
  min-width:1vmin;
  width:1vmin;
  max-width:1vmin;
  min-height:1vmin;
  height:1vmin;
  max-height:1vmin;

  font-size:0.1vmin;
  background-color:gray;
  margin-left:0vmin;
  margin-bottom:0vmin;
}

li.RGB{
  min-width:0.33vmin;
  width:0.33vmin;
  max-width:0.33vmin;
  min-height:1vmin;
  height:1vmin;
  max-height:1vmin;
  margin-left:0;
  margin-bottom:0.0vmin;
}

li.Gray{
  min-width:1vmin;
  width:1vmin;
  max-width:1vmin;
  min-height:1vmin;
  height:1vmin;
  max-height:1vmin;
  margin-left:0;
  margin-bottom:0.0vmin;
}

table.full{
  margin: 0;

}
table.full th{
  text-align: center;
  background-color: azure;
}